<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Input Example</title>
  <style>
    .dropdown {
      position: relative;
      display: block;
    }

    .btn {
      background: #CCC;
      padding: 10px;
      border-radius: 4px;
      color: #FFF;
      text-decoration: none;
      border: 1px solid #000;
      position: relative;
      /*display: block;*/
    }

    [data-dropdown], .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    [data-dropdown] li, .dropdown-menu li {
      margin: 5px;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    [data-dropdown] li:hover, [data-dropdown] li.dropdown-active,
    .dropdown-menu li:hover,.dropdown-menu li.dropdown-active {
      background: #CCC;
    }

    [data-dropdown] a, .dropdown-menu li {
      position: relative;
      text-decoration: none;
      color: #000;
      display: block;
      padding: 2px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="dropdown">
    <input type='text' data-id='main' class='input' data-dropdown-trigger="#dropdown-1">
    <ul class='dropdown-menu' id='dropdown-1' role="list" data-dropdown data-dynamic>
      <li role="listItem"><a href='#' data-id='{{id}}'>{{text}}</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button data-id="dynamic" data-dropdown-trigger="#dropdown-2">Dynamic</button>
    <ul class='dropdown-menu' id='dropdown-2' role="list" data-dropdown data-dynamic>
      <li role="listItem"><a href='#' data-id='{{id}}'>{{text}}</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button data-id="static" data-dropdown-trigger="#dropdown-3">Static</button>
    <ul class='dropdown-menu' id='dropdown-3' role="list" data-dropdown>
      <li role="listItem"><a href='#' data-id='1'>James</a></li>
      <li role="listItem"><a href='#' data-id='2'>Jimmy</a></li>
      <li role="listItem"><a href='#' data-id='3'>Jason</a></li>
    </ul>
  </div>
</div>
<script src="dist/index.js"></script>
</body>
</html>
